.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.iconZone {
    max-width: 410px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      line-height: 8.66px;
      font-size: 10px;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 9px;
        text-decoration: none;
        color: inherit;
        img {
          width: 37px;
          height: 37px;
        }
        p{
          margin: 0;
          font-size: 14px;
          line-height: 18.66px;
        }
      }
    }
}
