@use "../../app/globals.scss";

%text-common {
    color: globals.$dark-base-color;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.wrapper {
    position: relative;
    margin-bottom: 50px;
}

.title {
    color: globals.$pale-base-color;
    min-height: 202px;
    margin: 50px 0 0 0;
    text-align: center;
    font-weight: 850;
    font-size: 84px;
    line-height: 111.97px;
    letter-spacing: 0.4rem;
    opacity: 50%;
}

.backgroundLogo {
    position: absolute;
    top: 150px;
    left: 700px;
    width: 884px;
    height: 884px;
    
}

.column {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.columnName {
    @extend %text-common;
    font-style: italic;
    font-size: 32px;
    line-height: 42.66px;
}

.columnText {
    @extend %text-common;
    font-size: 22px;
    line-height: 29.33px;
}

.article {
    display: flex;
    gap: 82px;
    max-width: 700px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.image {
    object-fit: cover;
    width: 241px;
    height: 320px;
    border-radius: 65px;
    box-shadow: 13px 12px 32px 16px rgba(0, 0, 0, 0.2);
}

