@use '../../app/globals.scss';

.button {
  position: relative;
  width: 220px;
  height: 75px;
  box-sizing: border-box;
  padding: 5px 10px;
  color: globals.$primary-color;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  border: 3px solid globals.$primary-color;
  border-radius: 29px;
  transition:
          background-color 0.3s ease-in-out,
          opacity 0.3s ease-in-out;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:active:not(:disabled) {
    transform: scale(0.99);
  }

  &:disabled {
    background-color: globals.$gray-color;

    &:hover {
      background-color: globals.$gray-color;
    }
  }

  &_background {
    &_default {
      background-color: globals.$accent-color;

      &:hover {
        background-color: #993824;
      }
    }

    &_slategray {
      background-color: globals.$secondary-color;

      &:hover {
        background-color: #527274;
      }
    }

    &_orangered {
      background-color: globals.$semi-accent-base-color;

      &:hover {
        background-color: #822411;
      }
    }

    &_green {
      background-color: globals.$secondary-accent-color;

      &:hover {
        background-color: #033332;
      }
    }

    &_pinegreen {
      background-color: #033332;

      &:hover {
        background-color: #044140;
      }
    }

    &_brown {
      background-color: globals.$dark-base-color;

      &:hover {
        background-color: #402217;
      }
    }
  }

  &_type {
    &_filter {
      width: 185px;
      box-shadow: 8px 4px 40px 0 rgba(0, 0, 0, 0.25);
    }

    &_send {
      width: 186px;
      height: 65px;
    }

    &_subscribe {
      width: 232px;
      height: 60px;
      box-shadow: 8px 4px 40px 0 rgba(0, 0, 0, 0.25);
    }

    &_request {
      width: 270px;
      height: 81px;
      font-size: 25px;
    }
  }

  &__text {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400;
  }

  &__sign {
    position: absolute;
    width: 240px;
    height: 60px;
    bottom: -45px;
    left: 30px;
  }
}
