@use '../../app/globals.scss';

.inputZone {
    position: relative;
    outline: none;
}

.input {
    background-color: globals.$primary-color;
    width: 537px;
    height: 40px;
    border: 0.5px solid globals.$black-color;
    padding-left: 22px;
    font-size: 14px;
}

.input:focus {
    outline: none;
}

.iconButton {
    padding: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon:hover {
    opacity: 0.6;
}

.iconButton:hover {
    cursor: pointer;
}