.button {
  border: none;
  border-radius: 29px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #6a898b;
  font-size: 20px;
  font-weight: 700;
  color: #e8e1d7;
  padding: 24px 35px;
}
