@use './globals.scss';

.page{
  display: flex;
  align-items: center;
  width: 100%;
  height: 1024px;
}
.container {
  border: 1px solid red;
  background-color: rgb(252,243,228);
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/404.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.header{
  color: globals.$secondary-color;
  font-size: 54px;
}

.text{
  font-size: 30px;
  color: #050505;
  line-height: 36px;
  max-width: 620px;
}

