@use "../../app/globals.scss";

.container {
    min-height: 1731px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url("../../../public/images/background_moscow.png") no-repeat center center;
}
.title {
    color: globals.$pale-base-color;
    min-height: 202px;
    margin: auto;
    text-align: center;
    font-weight: 850;
    font-size: 84px;
    line-height: 111.97px;
    letter-spacing: 0.4rem;
    opacity: 50%;
}

.cardsZone {
    display: flex;
    max-width: 1160px;
    flex-wrap: wrap;
    gap: 129px 169px;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    margin-bottom: 50px;
}